body {
  font-family: 'Lato';
}

.image-back {
	 background: url('../img/school.jpg');
	 background-size: cover;
  font-family: 'Lato';
}

main {
    margin-top: 100px;
}

.main-content {
    max-width: 100%;
    padding: 0;
}

.margin-none {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(138,130,138,1));
  -moz-box-shadow: 0px 0px 3px 0px rgba(138,130,138,1);
  box-shadow: 0px 0px 3px 0px rgba(138,130,138,1);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.error {
    color: #d9534f;
}

.btn-primary {
    background-color: #17a2b8;
    border: none;
    color: #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #17a2b8;
    border: none;
    color: #fff;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 60px;
  border-radius: 120px;
  margin: 50px auto;
  color: #555;
}

.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.go-icon {
  right: 0;
  pointer-events: none;
  font-size: 1.38em;
  will-change: opacity;
  cursor: default;
  opacity: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.go-in {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}

.border {
  fill: none;
  stroke: #555;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}

.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

#search {
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  border: none;
  background: rgba(255,255,255,0);
  padding: 20px;
  color: #555;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
  outline: none;
}

#search::-webkit-input-placeholder {color: #555;}
#search::-moz-placeholder {color: #555;}
#search:-ms-input-placeholder {color: #555;}
#search:-moz-placeholder {color: #555;}
#search::-moz-selection {color: #555; background: rgba(0,0,0,0.25);}
#search::selection {color: #555; background: rgba(0,0,0,0.25);}

.admin-page a {
    color: #17a2b8;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    padding: 20px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.bd-footer {
    background-color: #232F3E;
    font-size: 12px;
    color: #ccc;
    font-weight: 700;
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.navFooterBackToTop {
    background-color: #37475A;
    padding: 10px;
    margin-bottom: 12px;
    color: #fff;
}

.admin-page {
    margin-top: 60px;
    padding: 0;
}

.main-container {
    padding: 0;
}

.form-outer {
    background: rgba(255, 255, 255, 0.5);
    padding: 0;
    min-width: 25%;
}

#login-form, #signup-form {
    background: #fff;
    max-width: 90%;
    padding: 20px;
    margin: 25px;
}

#login-btn, #signup-btn {
    margin: 15px;
}

#signup-link, #login-link {
    padding-top: 20px;
}

.main-title {
    color: #17a2b8;
}

.form-radio {
    margin: 0 0 15px 0 !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pull-right {
    float: right !important;
}

.table-title {
    margin-top: 50px;
}

.label {
    display: inline;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.table-responsive {
    background: #fff;
    margin-top: 20px;
}

.confirm {
    color: #5cb85c !important;
}

.reject {
    color: #d9534f !important;
}

#logoutLink {
    cursor: pointer;
}

#logout {
    border: 1px solid rgba(0,0,0,.5);
    padding: 0 5px;
}

.small-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 25%;
    box-shadow: 0px 0px 10px -3px rgba(138,130,138,1);
}

.list-title {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0px 0px 3px -1px rgba(138,130,138,1) !important;
}

.shadow {
    border-radius: 5px;
    box-shadow: 0px 0px 3px -1px rgba(138,130,138,1) !important;
}

.list-title .row {
    margin: 0;
}

.panel-title {
    margin: 0;
}

.panel-heading {
    color: #17a2b8;
    padding: 10px;
}

.panel-btn {
    padding: 5px;
}

.search-form {
    background-color: #17a2b8;
    border-radius: 5px;
}

.footer-logo {
    width: 60px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
    border: none;
    background-color: #fff;
    color: #555;
}

.main-row {
    margin: 0;
}

.sidebar {
    background-color: #17a2b8;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.nav-sidebar {
    list-style-type: none;
    padding: 0;
}

.nav-sidebar > li {
    padding: 10px;
}

.nav-sidebar > li > a {
    text-transform: uppercase;
    color: #ccc;
}

.nav-sidebar > li > a:hover {
    text-transform: uppercase;
    color: #fff;
}

.nav-sidebar > li > .active {
    text-transform: uppercase;
    color: #fff;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #0FA4C8;
}

.sidebar-divider {
    border-top: 1px solid #17b4c5;
}

.caption {
    padding: 20px;
    color: #17a2b8;
}
