body {
  font-family: 'Lato';
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  color: #555;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.image-back {
    background: url('../img/school.jpg');
    background-size: cover;
    font-family: 'Lato';
}

main {
    margin-top: 100px;
}

.main-heading {
    margin-top: 100px;
}

.main-content {
    max-width: 100%;
    padding: 0;
}

.margin-none {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(138,130,138,1));
  -moz-box-shadow: 0px 0px 3px 0px rgba(138,130,138,1);
  box-shadow: 0px 0px 3px 0px rgba(138,130,138,1);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

main {
    margin-top: 10px;
}

.home-container {
    background-image: url('../img/bg1.png');
    margin-top: -10px;
    width: 100%;
    min-height: 100vh;
}

.home-search {
    padding-top: 50px;
}

.error {
    color: #d9534f;
}

.btn-primary {
    background-color: #17a2b8;
    border: none;
    color: #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #17a2b8;
    border: none;
    color: #fff;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 60px;
  border-radius: 120px;
  margin: 50px auto;
  color: #555;
}

.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.go-icon {
  right: 0;
  pointer-events: none;
  font-size: 1.38em;
  will-change: opacity;
  cursor: default;
  opacity: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.go-in {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}

.border {
  fill: none;
  stroke: #555;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}

.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

#search {
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  border: none;
  background: rgba(255,255,255,0);
  padding: 20px;
  color: #555;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
  outline: none;
}

#search::-webkit-input-placeholder {color: #555;}
#search::-moz-placeholder {color: #555;}
#search:-ms-input-placeholder {color: #555;}
#search:-moz-placeholder {color: #555;}
#search::-moz-selection {color: #555; background: rgba(0,0,0,0.25);}
#search::selection {color: #555; background: rgba(0,0,0,0.25);}

.admin-page a {
    color: #17a2b8;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    padding: 20px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.bd-footer {
    background-color: #232F3E;
    padding-top: 20px;
    font-size: 14px;
    color: #ccc;
    font-weight: 700;
    z-index: 10;
    left: 0;
    width: 100%;
    text-align: center;
}

.login-footer {
    position: absolute;
    bottom: 0;
}

.navFooterBackToTop {
    background-color: #37475A;
    padding: 10px;
    margin-bottom: 12px;
    color: #fff;
}

.admin-page {
    margin-top: 60px;
    padding: 0;
}

.admin-mobile-warning {
    margin-top: 100px;
}

.navbar-light .navbar-toggler {
    border: none;
}

.main-container {
    padding: 0;
}

.form-outer {
    background: rgba(255, 255, 255, 0.5);
    padding: 0;
    min-width: 25%;
}

#login-form, #signup-form {
    background: #fff;
    padding: 20px;
    margin: 25px;
}

#login-btn, #signup-btn {
    margin: 15px;
}

#signup-link, #login-link {
    padding-top: 20px;
}

.main-title {
    color: #17a2b8;
}

.form-radio {
    margin: 0 0 15px 0 !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pull-right {
    float: right !important;
}

.table-title {
    margin-top: 50px;
}

.label {
    display: inline;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.table-responsive {
    background: #fff;
    margin-top: 20px;
}

.confirm {
    color: #5cb85c !important;
}

.reject {
    color: #d9534f !important;
}

.small-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 25%;
    box-shadow: 0px 0px 10px -3px rgba(138,130,138,1);
}

.list-title {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0px 0px 3px -1px rgba(138,130,138,1) !important;
}

.list-title .row {
    margin: 0;
}

.panel-title {
    margin: 15px 0;
}

.book-shadow {
    box-shadow: 5px 10px 7px 2px rgba(0,0,0,.15);
}

.panel-heading {
    color: #17a2b8;
    padding: 10px;
}

.panel-btn {
    padding: 5px;
}

.search-form {
    background-color: #17a2b8;
    border-radius: 5px;
}

.footer-logo {
    width: 60px;
}

.page-link, .page-item.disabled .page-link {
    background-color: rgba(255,255,255,0.4);
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
    border: none;
    background-color: #fff;
    color: #555;
}

.main-row {
    margin: 0;
}

.sidebar {
    background-color: #232F3E;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.card-header {
    background-color: #c6d2e1 !important;
}

.nav-sidebar {
    list-style-type: none;
    padding: 0;
    position: fixed;
}

.nav-sidebar > li {
    padding: 10px;
}

.nav-sidebar > li > a {
    text-transform: uppercase;
    color: #aaa;
}

.nav-sidebar > li > a:hover {
    text-transform: uppercase;
    color: #fff;
}

.nav-sidebar > li > .active {
    text-transform: uppercase;
    color: #fff;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #0FA4C8;
}

.sidebar-divider {
    border-top: 1px solid #17b4c5;
}

.caption {
    padding: 20px;
    color: #17a2b8;
}

.table-collapse {
    font-size: 12px;
    padding: 4px;
    border: none;
}

.table-collapse-header {
    font-weight: bold;
}
.table-accordion {
    cursor: pointer;
}

#addBook {
    margin-top: 32px;
}

.form-subtitle {
    margin-left: 15px;
}

.icon-box {
    color: #555;
    padding: 0;
    border-radius: 0 15px 15px 0;
}

.icon-box .title {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
}

.book-cover img {
    width: 100%;
}

.book-details {
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-radius: 0 15px 15px 0;
    background-size: cover;
    padding: 0;
    word-break: break-word;
}

.bg-cover {
    background-size: cover;
}

.book-details-inner {
    background-color: rgba(255,255,255,0.3);
    border-left: 15px solid rgba(0,0,0,0.2);
    border-radius: 0 10px 10px 0;
    padding: 5px 10px;
    min-height: 300px;
}

.book-details .bi {
    padding: 0 10px;
}

.book-contents {
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    z-index: 3;
    margin-top: 60px;
}

.book-count {
    bottom: 15px;
    left: 30px;
    font-size: 19px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #17a2b8;
}

.count-btn {
    opacity: 100% !important;
}

.book-approve-img {
    border-radius: 5px;
    width: 100%;
}

.page-item.active .page-link {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.hide-element {
    display: none;
}

.profile-container {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#user-details-inner, #userBookList {
    margin-top: 15px;
}

.profile-img-sm {
    border: 10px solid #fff;
    position: absolute;
    margin: -45px;
}

.username-sm {
    margin-left: 60px;
    margin-bottom: 0 !important;
}

#profileEdit, #profileSave, #cancelEdit {
    margin: 20px 15px;
}

.progress {
    background-color: rgba(255,255,255,0.3);
}

.progress-bar.blue {
    background-color: #17a2b8;
}

.progress-bar.yellow {
    background-color: #ffc107;
}

.progress-bar.red {
    background-color: #dc3545;
}

.renew-outer {
    padding: 0;
    margin: -15px 0 0 0;
}

.renew-btn {
    font-size: 20px;
    color: #fff !important;
    padding: 0;
    margin: 0;
}

.class-division {
    margin: 0;
}

.book-container {
    margin: 35px;
}

.user-books .table-responsive {
    margin: 0;
}

#chevron-toggle .bi {
    color: #17a2b8 !important;
    cursor: pointer;
}

#user-chevron-toggle .bi {
    color: #17a2b8 !important;
    cursor: pointer;
}

.user-details-outer, .user-books-outer {
    margin: 0 30px;
    border: 15px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}

.user-details {
    background-color: #fff;
    padding: 20px 5px;
}

.user-input {
    margin-bottom: 0 !important;
}

.current-book-outer {
    margin: 15px;
}

.user-books {
    background-color: #fff;
    padding: 10px;
}

.profile-edit-field {
    margin: 5px 0;
}

.current-books {
    padding: 50px 10px;
    margin: 0 50px;
    background-color: rgba(255,255,255,0.3);
}

.color-cyan {
    color: #17a2b8 !important;
}

.requested-book-outer {
    background-color: rgba(255,193,7,0.5);
    border-top: 5px solid #ffc107;
    border-right: 5px solid #ffc107;
    border-bottom: 5px solid #ffc107;
    border-radius: 0 25px 25px 0;
    padding: 0;
    margin: 0;
}

.alloted-book-outer {
    background-color: rgba(15, 185, 44, 0.5);
    border-top: 5px solid #0ee63c;
    border-right: 5px solid #0ee63c;
    border-bottom: 5px solid #0ee63c;
    border-radius: 0 25px 25px 0;
    padding: 0;
    margin: 0;
}

.renewrequested-book-outer {
    background-color: rgba(146, 6, 116, 0.5);
    border-top: 5px solid #c00998;
    border-right: 5px solid #c00998;
    border-bottom: 5px solid #c00998;
    border-radius: 0 25px 25px 0;
    padding: 0;
    margin: 0;
}

.renewdeclined-book-outer {
    background-color: rgba(192, 9, 9, 0.5);
    border-top: 5px solid #e21414;
    border-right: 5px solid #e21414;
    border-bottom: 5px solid #e21414;
    border-radius: 0 25px 25px 0;
    padding: 0;
    margin: 0;
}

.user-book-img {
    width: 100%;
    border-radius: 25px 0 0 25px;
}

.book-img-outer {
    padding: 0;
}

.current-book {
    height: 100%;
    align-items: center;
    display: inline-grid;
    padding: 5px;
}

.current-book .title {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 10px 5px;
}

.book-entries {
    margin: 15px 0;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.02);
}

.dashboard-content {
    margin: 15px 0px;
}

.dashboard-content .card {
    margin: 15px 0px;
    border: none;
}

.fixed-height-body {
    height: 300px;
}

.dashboard-content .card-header {
    padding: 10px !important;
}

.dashboard-content .card-header h6 {
    margin-bottom: 0 !important;
}

.dashboard-content .card-body {
    background-color: #f5f7fa;
}

.dashboard-content .card-footer {
    background-color: #edf4fc;
}

#recentBooks, #recentUsers {
    cursor: pointer;
    padding: 10px 0 0 0;
}

#recentBooksTable, #recentUsersTable {
    margin: 0;
}

#recentBooksCollapse, #recentUsersCollapse {
    background-color: #f5f7fa;
}

.dashboard-content .book-approve-card-inner {
    background-color: #fff;
}

.notification-body {
    padding: 5px;
}

.notification {
    margin: 15px 0 0 0;
    cursor: pointer;
}

.notification a {
    padding: 5px;
    font-size: 22px;
}

.modal-header {
    border-bottom: 0 none;
    padding: 15px 15px 0 0;
}

.modal-title {
    margin: 0 15px;
}

.book-modal-title {
    margin: 0 30px;
}

#preBook {
    color: #fff;
}

#prebookModal .modal-content {
    background-color: rgba(255,255,255,0.5);
    color: #fff !important;
    border: none;
    backdrop-filter: blur(5px);
}

#renewModal .modal-content {
    background-color: rgba(255,255,255,0.5);
    color: #fff !important;
    border: none;
    backdrop-filter: blur(5px);
}

#renewBook {
    color: #fff !important;
}

.prebook-close {
    color: #fff !important;
}

.filter-hide {
    display: none;
}

.books-inner-table {
    padding: 0 !important;
}

.books-inner-table table {
    margin: 0 !important;
}

.ui-widget-header {
    background: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    border-radius: 0;
}

.bookApprovalForm {
    margin-top: 20px;
}

.book-cover-div, .profile-pic-div {
    background-size: cover;
    border-radius: 10px 10px 0 0;
    background-position: center;
    height: 200px;
    width: 100%;
}

.form-middle {
    align-items: center;
    display: inline-grid;
    margin-top: 8px;
    font-size: 30px;
}

.book-cover-img, .user-profile-img {
    width: 100%;
    height: 100%;
    border: 5px solid #ccc;
}

.user-accordion {
    padding: 10px;
    background-color: #fff;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

@media (max-width: 770px) {
    .profile-container {
        width: 90% !important;
    }

    .book-entries {
        margin: 5% 20%;
    }
}

@media (max-width: 600px) {
    .profile-container {
        width: 95% !important;
    }

    .current-books {
        margin: 0 !important;
    }

    .user-details-outer, .user-books-outer {
        margin: 0 !important;
    }

    .profile-img-sm {
        margin: -45px -30px;
    }

    .book-entries {
        margin: 5% 15%;
    }
}
